.navbar{
    // border:1px solid black;
    background-color:#045822;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    .container{
        // border:1px solid black;
        width:1400px;
        display: flex;
        justify-content: space-between;
        

        .nav_left{
            // border:1px solid black;
            display: flex;
            justify-content: space-around;
            align-items:baseline;
            gap:55px;

            .logo{
                color:white;
                font-size:30px;
                font-weight: bolder;
                cursor: pointer;
            }
            .menu{
                color:white;
                font-size:18px;
                cursor: pointer;
            }
        }

        .nav_right{
            // border:1px solid black;
            color:white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap:60px;

            .cart_logo{
                font-size: 30px;
                cursor: pointer;
            }
            .user_profile{
                display: flex;
                align-items: center;
                justify-content: center;
                gap:10px;              
                font-size:18px;
                cursor: pointer;
            }
        }
    }
}